:host {
  width: 80%;
  height: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;

  p {
    width: 10vw;
    padding: 15px 25px;
    text-align: center;
    box-shadow: 1px 1px 9px 0 #dbdbdb;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
